<div class="row">
    <div class="large-12 columns">
        <h1>{{name}}</h1>
        <p>{{summary}}</p>
        <p>Full bill text available <a href="{{link}}" target="_blank">here</a>.</p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        {{#if voted}}
            {{#if vote_value }}
                <h3>You voted yes!</h3>
            {{else}}
                <h3>You voted no!</h3>
            {{/if}}
        {{else}}
            <h2>Do you support this bill?</h2>
            <span><button class="yes">Yes</button><button class="alert">No</button></span>
        {{/if}}
    </div>
</div>